.boton {
    font-family: 'Montserrat', sans-serif; 
    width: 167px;
    height: 80px;
    margin-top: 40px;
    border-radius: 10px;
    background: #6278F7;
    border: none;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    cursor: pointer;
}

.boton:hover {
    color: #95FFD4
    ;
} 